#map {
  height: 720px;
  /*width: 950px;*/
}

#info{
  overflow: auto;
  height: 550px;
  background-color: rgba(238, 110, 115, 0.3);
}

#inputArea{
  
}
#preloader {
  height: 20px;
  width: 300px;
}
#validation {
  width: 300px;
  height: 100px;
  background-color: rgba(238, 110, 115, 0.3);
  padding: 20px;
}